<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>flaste</title>
		<link href="{{ url_for('static', filename='css/pygments.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/paste.css') }}" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,800' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id="content">
			<h1>flaste</h1>
			Source: {{ source }} <br/>
			Date: {{ date }} <br/>
			Language: {{ dropdown }} <a href="plain">[plain]</a><br/><br/>
			{{ content }}
		</div>
	</body>
</html>
